#absown.service
[Unit]
Description=Changes the permissions of new files placed into /library/books/ directories (i.e., those managed by audiobookshelf) such that permissions and ownership will be set correctly based on existing "own" script
Requires=

[Service]
Type=oneshot
# Set ExecStart to location of mpdigore.sh script, e.g., /usr/local/sbin/mpdignore.sh
ExecStart=/usr/local/sbin/absown.sh -l

[Install]
Also=absown.path

